<h1 class="main-title">Advanced components</h1>

<form>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">wysiwyg</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label>Editeur</label>
                <textarea class="tinymce" name="mytextarea">Hello, World!</textarea>
            </div>
            <div class="form-group">
                <label>Editeur simple</label>
                <textarea class="tinymce-simple" name="mytextarea">Hello, World!</textarea>
                <script src="../dist/tinymce.js"></script>
            </div>


            <div class="upload" data-uploadendpoint="http://localhost" data-uploadmedias="../datas/medias.json" data-uploadrepertoire="repertoire" data-uploadpublicationid="10" data-uploadpublicationtype="type" data-uploadallowedfiletypes="pdf">
                <h3>Upload Files</h3>

                <!-- Target DOM node #1 -->
                <div class="upload-DragDrop"></div>

                <!-- Progress bar #1 -->
                <div class="upload-ProgressBar"></div>

                <!-- Alerts message #1 -->
                <div class="upload-alerts mt-3"></div>

                <!-- Uploaded files list #1 -->
                <div class="mt-3">
                    <h4>Uploaded files:</h4>
                    <div class="d-flex flex-row flex-wrap sortable upload-files" data-sortableurl="test.php">
                    </div>
                    <script class="upload-template" type="x-tmpl-mustache">
                        <div class="media" data-sortable="{{ id }}">
                            <div class="media-img">
                                <img src="{{ url }}" alt="">
                            </div>
                            <div class="media-title">
                                {{ titre }}
                            </div>
                            <div class="media-toolbar">
                                <ul>
                                    <li><a href="#" title="modifier"><span class="fa fa-edit"></span></a></li>
                                    <li><a href="#" class="Supprimer"><span class="fa fa-trash-alt"></span></a></li>
                                    <li class="sortable-move" title="Trier"><span class="fa fa-arrows-alt"></span></li>
                                </ul>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
            <link href="../dist/uppy.css" rel="stylesheet">
            <script src="../dist/uppy.js"></script>
        </div>
        <div class="box-footer">
            <div><button class="btn btn-outline-secondary" type="reset">Cancel</button></div>
            <div><button class="btn btn-primary" type="submit">Submit</button></div>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">wysiwyg</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label>select</label>
                <select class="js-example-basic-single js-states form-control" tabindex="-1" aria-hidden="true" data-select2-id="58">
                    <optgroup label="Alaskan/Hawaiian Time Zone" data-select2-id="64">
                        <option value="AK" data-select2-id="60">Alaska</option>
                        <option value="HI" data-select2-id="65">Hawaii</option>
                    </optgroup>
                    <optgroup label="Pacific Time Zone" data-select2-id="66">
                        <option value="CA" data-select2-id="67">California</option>
                        <option value="NV" data-select2-id="68">Nevada</option>
                        <option value="OR" data-select2-id="69">Oregon</option>
                        <option value="WA" data-select2-id="70">Washington</option>
                    </optgroup>
                    <optgroup label="Mountain Time Zone" data-select2-id="71">
                        <option value="AZ" data-select2-id="72">Arizona</option>
                        <option value="CO" data-select2-id="73">Colorado</option>
                        <option value="ID" data-select2-id="74">Idaho</option>
                        <option value="MT" data-select2-id="75">Montana</option>
                        <option value="NE" data-select2-id="76">Nebraska</option>
                        <option value="NM" data-select2-id="77">New Mexico</option>
                        <option value="ND" data-select2-id="78">North Dakota</option>
                        <option value="UT" data-select2-id="79">Utah</option>
                        <option value="WY" data-select2-id="80">Wyoming</option>
                    </optgroup>
                    <optgroup label="Central Time Zone" data-select2-id="81">
                        <option value="AL" data-select2-id="82">Alabama</option>
                        <option value="AR" data-select2-id="83">Arkansas</option>
                        <option value="IL" data-select2-id="84">Illinois</option>
                        <option value="IA" data-select2-id="85">Iowa</option>
                        <option value="KS" data-select2-id="86">Kansas</option>
                        <option value="KY" data-select2-id="87">Kentucky</option>
                        <option value="LA" data-select2-id="88">Louisiana</option>
                        <option value="MN" data-select2-id="89">Minnesota</option>
                        <option value="MS" data-select2-id="90">Mississippi</option>
                        <option value="MO" data-select2-id="91">Missouri</option>
                        <option value="OK" data-select2-id="92">Oklahoma</option>
                        <option value="SD" data-select2-id="93">South Dakota</option>
                        <option value="TX" data-select2-id="94">Texas</option>
                        <option value="TN" data-select2-id="95">Tennessee</option>
                        <option value="WI" data-select2-id="96">Wisconsin</option>
                    </optgroup>
                    <optgroup label="Eastern Time Zone" data-select2-id="97">
                        <option value="CT" data-select2-id="98">Connecticut</option>
                        <option value="DE" data-select2-id="99">Delaware</option>
                        <option value="FL" data-select2-id="100">Florida</option>
                        <option value="GA" data-select2-id="101">Georgia</option>
                        <option value="IN" data-select2-id="102">Indiana</option>
                        <option value="ME" data-select2-id="103">Maine</option>
                        <option value="MD" data-select2-id="104">Maryland</option>
                        <option value="MA" data-select2-id="105">Massachusetts</option>
                        <option value="MI" data-select2-id="106">Michigan</option>
                        <option value="NH" data-select2-id="107">New Hampshire</option>
                        <option value="NJ" data-select2-id="108">New Jersey</option>
                        <option value="NY" data-select2-id="109">New York</option>
                        <option value="NC" data-select2-id="110">North Carolina</option>
                        <option value="OH" data-select2-id="111">Ohio</option>
                        <option value="PA" data-select2-id="112">Pennsylvania</option>
                        <option value="RI" data-select2-id="113">Rhode Island</option>
                        <option value="SC" data-select2-id="114">South Carolina</option>
                        <option value="VT" data-select2-id="115">Vermont</option>
                        <option value="VA" data-select2-id="116">Virginia</option>
                        <option value="WV" data-select2-id="117">West Virginia</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <label>select</label>
                <select class="js-example-basic-single js-states form-control" tabindex="-1" aria-hidden="true" data-select2-id="58" multiple="multiple" data-tags="true">
                    <optgroup label="Alaskan/Hawaiian Time Zone" data-select2-id="64">
                        <option value="AK" data-select2-id="60">Alaska</option>
                        <option value="HI" data-select2-id="65">Hawaii</option>
                    </optgroup>
                    <optgroup label="Pacific Time Zone" data-select2-id="66">
                        <option value="CA" data-select2-id="67">California</option>
                        <option value="NV" data-select2-id="68">Nevada</option>
                        <option value="OR" data-select2-id="69">Oregon</option>
                        <option value="WA" data-select2-id="70">Washington</option>
                    </optgroup>
                    <optgroup label="Mountain Time Zone" data-select2-id="71">
                        <option value="AZ" data-select2-id="72">Arizona</option>
                        <option value="CO" data-select2-id="73">Colorado</option>
                        <option value="ID" data-select2-id="74">Idaho</option>
                        <option value="MT" data-select2-id="75">Montana</option>
                        <option value="NE" data-select2-id="76">Nebraska</option>
                        <option value="NM" data-select2-id="77">New Mexico</option>
                        <option value="ND" data-select2-id="78">North Dakota</option>
                        <option value="UT" data-select2-id="79">Utah</option>
                        <option value="WY" data-select2-id="80">Wyoming</option>
                    </optgroup>
                    <optgroup label="Central Time Zone" data-select2-id="81">
                        <option value="AL" data-select2-id="82">Alabama</option>
                        <option value="AR" data-select2-id="83">Arkansas</option>
                        <option value="IL" data-select2-id="84">Illinois</option>
                        <option value="IA" data-select2-id="85">Iowa</option>
                        <option value="KS" data-select2-id="86">Kansas</option>
                        <option value="KY" data-select2-id="87">Kentucky</option>
                        <option value="LA" data-select2-id="88">Louisiana</option>
                        <option value="MN" data-select2-id="89">Minnesota</option>
                        <option value="MS" data-select2-id="90">Mississippi</option>
                        <option value="MO" data-select2-id="91">Missouri</option>
                        <option value="OK" data-select2-id="92">Oklahoma</option>
                        <option value="SD" data-select2-id="93">South Dakota</option>
                        <option value="TX" data-select2-id="94">Texas</option>
                        <option value="TN" data-select2-id="95">Tennessee</option>
                        <option value="WI" data-select2-id="96">Wisconsin</option>
                    </optgroup>
                    <optgroup label="Eastern Time Zone" data-select2-id="97">
                        <option value="CT" data-select2-id="98">Connecticut</option>
                        <option value="DE" data-select2-id="99">Delaware</option>
                        <option value="FL" data-select2-id="100">Florida</option>
                        <option value="GA" data-select2-id="101">Georgia</option>
                        <option value="IN" data-select2-id="102">Indiana</option>
                        <option value="ME" data-select2-id="103">Maine</option>
                        <option value="MD" data-select2-id="104">Maryland</option>
                        <option value="MA" data-select2-id="105">Massachusetts</option>
                        <option value="MI" data-select2-id="106">Michigan</option>
                        <option value="NH" data-select2-id="107">New Hampshire</option>
                        <option value="NJ" data-select2-id="108">New Jersey</option>
                        <option value="NY" data-select2-id="109">New York</option>
                        <option value="NC" data-select2-id="110">North Carolina</option>
                        <option value="OH" data-select2-id="111">Ohio</option>
                        <option value="PA" data-select2-id="112">Pennsylvania</option>
                        <option value="RI" data-select2-id="113">Rhode Island</option>
                        <option value="SC" data-select2-id="114">South Carolina</option>
                        <option value="VT" data-select2-id="115">Vermont</option>
                        <option value="VA" data-select2-id="116">Virginia</option>
                        <option value="WV" data-select2-id="117">West Virginia</option>
                    </optgroup>
                </select>
            </div>

        </div>
        <div class="box-footer">
            <div><button class="btn btn-outline-secondary" type="reset">Cancel</button></div>
            <div><button class="btn btn-primary" type="submit">Submit</button></div>
        </div>
    </div>
</form>